<form [formGroup]="product">
  <mat-form-field>
    <mat-label>{{
      translationService.translate.get("type") | async
    }}</mat-label>
    <mat-select required formControlName="typeCtrl">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{ type.viewValue | translate }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="product.controls['typeCtrl'].hasError('required')">
      {{ translationService.translate.get("typeError") | async }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{
      translationService.translate.get("carMake") | async
    }}</mat-label>
    <input
      matInput
      placeholder="Toyota..."
      formControlName="car_make"
      required
    />

    <mat-error
      *ngIf="
        product.controls['car_make'].invalid &&
        (product.controls['car_make'].dirty ||
          product.controls['car_make'].touched)
      "
    >
      {{ translationService.translate.get("carMakeError") | async }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ translationService.translate.get("model") | async }}
    </mat-label>
    <input
      matInput
      placeholder="yaris..."
      formControlName="modelCtrl"
      required
    />

    <mat-error
      *ngIf="
        product.controls['modelCtrl'].invalid &&
        (product.controls['modelCtrl'].dirty ||
          product.controls['modelCtrl'].touched)
      "
    >
      {{ translationService.translate.get("modelError") | async }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ translationService.translate.get("bodyType") | async }}
    </mat-label>
    <mat-select required formControlName="bodyTypeCtrl">
      <ng-container *ngIf="product.valueChanges | async as productValue">
        <ng-container *ngIf="product.get('typeCtrl')?.value === 'motorcycle'">
          <mat-option *ngFor="let type of isMotorCycle()" [value]="type.value">
            {{ type.viewValue | translate }}
          </mat-option>
        </ng-container>
        <ng-container *ngIf="product.get('typeCtrl')?.value !== 'motorcycle'">
          <mat-option
            *ngFor="let type of isNotMotorCycle()"
            [value]="type?.value"
          >
            {{ type.viewValue | translate }}
          </mat-option>
        </ng-container>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="product.controls['bodyTypeCtrl'].hasError('required')">
      {{ translationService.translate.get("bodyTypeError") | async }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label
      >{{ translationService.translate.get("condition") | async }}
    </mat-label>
    <mat-select required formControlName="conditionCtrl">
      <mat-option *ngFor="let type of conditions" [value]="type.value">
        {{ type.viewValue | translate }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="product.controls['conditionCtrl'].hasError('required')">
      {{ translationService.translate.get("conditionError") | async }}
    </mat-error>
  </mat-form-field>

  <div class="mt-1">
    <button mat-button matStepperPrevious>
      {{ translationService.translate.get("back") | async }}
    </button>
    <button mat-button matStepperNext (click)="onStepTwoNext()">
      {{ translationService.translate.get("next") | async }}
    </button>
  </div>
</form>
