.header .container {
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--header-color);
  min-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.header .container .logo {
  cursor: pointer;
}

.header .container .burger {
  display: none;
}

.header .container .menu {
  align-items: center;
  justify-content: space-evenly;
}

.header .container .menu a {
  text-decoration: none;
  color: #fefefe;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.header .container .menu .addPlus {
  background-color: var(--green-color);
  height: 40px;
  width: 160px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  transition: 0.2s;
}

.header .container .menu .addPlus:hover {
  background-color: var(--green-color-shade);
  transform: translateY(-2px);
  box-shadow: 15px 16px 16px -41px rgba(119, 119, 119, 0.79) inset;
}

.header .container .menu .addPlus .custom-icon {
  color: #fefefe;
}

.header .container .menu .addPlus p {
  color: #fefefe;
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}

.image {
  position: absolute;
  top: 0;
  left: 15px;
  width: 200px;
  height: 160px;
}

.languages {
  flex-direction: row;
}

.languages img {
  padding: 0 0.2rem;
  cursor: pointer;
}

@media screen and (min-width:768px) {
  .languages {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {


  .image {
    width: 100px;
    height: 100px;
    top: 0;
    left: 5px;
  }

  .header .container {
    position: relative;
    align-items: center;
    padding: 15px;
  }

  .header .container .logo {
    margin-right: 0;
  }

  .header .container .burger {
    display: block;
    position: absolute;
    right: 0;
    color: #ffffff;
  }

  .header .container .burger i {
    font-size: 2em;
  }

  .header .container .menu {
    display: none;
  }

  .header .container .isOpen {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: var(--menu-backGround);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
  }

  .header .container .isOpen a {
    color: #000000;
    font-weight: 600;
    font-size: 15px;
  }

  .header .container .isOpen .addPlus {
    margin-bottom: 0.5rem;
    align-self: center;
    margin-left: 0;
  }
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  color: var(--green-color);
  text-align: center;
  flex: 1;
}