<form [formGroup]="basicData">
  <mat-form-field>
    <mat-label>{{
      translationService.translate.get("year") | async
    }}</mat-label>
    <mat-select required formControlName="yearCtrl">
      <mat-option *ngFor="let year of validYears" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        basicData.controls['yearCtrl'].hasError('required') &&
        basicData.controls['yearCtrl'].invalid &&
        (basicData.controls['yearCtrl'].dirty ||
          basicData.controls['yearCtrl'].touched)
      "
    >
      {{ translationService.translate.get("yearError") | async }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{
      translationService.translate.get("fuelType") | async
    }}</mat-label>
    <mat-select required formControlName="fuelTypeCtrl">
      <mat-option *ngFor="let fuelType of fuelTypes" [value]="fuelType.value">
        {{ fuelType.viewValue | translate }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        basicData.controls['fuelTypeCtrl'].hasError('required') &&
        basicData.controls['fuelTypeCtrl'].invalid &&
        (basicData.controls['fuelTypeCtrl'].dirty ||
          basicData.controls['fuelTypeCtrl'].touched)
      "
    >
      {{ translationService.translate.get("fuelTypeError") | async }}
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="basicData.get('fuelTypeCtrl')?.value">
    <mat-label>{{
      translationService.translate.get("transmission") | async
    }}</mat-label>
    <mat-select required formControlName="transTypeCtrl">
      <ng-container
        *ngIf="basicData.get('fuelTypeCtrl')?.value !== 'electronic'"
      >
        <mat-option
          *ngFor="let transType of filteredNonElectronic()"
          [value]="transType.value"
        >
          {{ transType.viewValue | translate }}
        </mat-option>
      </ng-container>

      <ng-container
        *ngIf="basicData.get('fuelTypeCtrl')?.value === 'electronic'"
      >
        <mat-option
          *ngFor="let transType of filteredElectronic()"
          [value]="transType.value"
        >
          {{ transType.viewValue | translate }}
        </mat-option>
      </ng-container>
    </mat-select>

    <mat-error
      *ngIf="
        basicData.controls['transTypeCtrl'].hasError('required') &&
        basicData.controls['transTypeCtrl'].invalid &&
        (basicData.controls['transTypeCtrl'].dirty ||
          basicData.controls['transTypeCtrl'].touched)
      "
    >
      {{
        translationService.translate.get("transmissionError") | async
      }}
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="basicData.get('transTypeCtrl')?.value">
    <mat-label>{{ getEngineSizeLabel() | async }}</mat-label>

    <input
      type="number"
      matInput
      min="0"
      placeholder="1200"
      formControlName="engineSizeCtrl"
      required=""
    />

    <mat-error
      *ngIf="
        basicData.controls['engineSizeCtrl'].hasError('required') &&
        (basicData.controls['engineSizeCtrl'].dirty ||
          basicData.controls['engineSizeCtrl'].touched)
      "
    >
      {{ translationService.translate.get("engineSizeError") | async }}
    </mat-error>
    <mat-error *ngIf="basicData.controls['engineSizeCtrl'].hasError('min')">
      {{
        translationService.translate.get("engineSizeValidation") | async
      }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label
      >{{ translationService.translate.get("mileage") | async }}
    </mat-label>
    <input
      type="number"
      matInput
      min="0"
      placeholder="25000"
      formControlName="mileageCtrl"
      required
    />
    <mat-error
      *ngIf="
        basicData.controls['mileageCtrl'].hasError('required') &&
        (basicData.controls['mileageCtrl'].dirty ||
          basicData.controls['mileageCtrl'].touched)
      "
    >
      {{ translationService.translate.get("mileageError") | async }}
    </mat-error>

    <mat-error *ngIf="basicData.controls['mileageCtrl'].hasError('min')">
      {{
        translationService.translate.get("mileageValidation") | async
      }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{
      translationService.translate.get("color") | async
    }}</mat-label>
    <input type="text" matInput formControlName="colorCtrl" required />

    <mat-error
      *ngIf="
        basicData.controls['colorCtrl'].hasError('required') &&
        (basicData.controls['colorCtrl'].dirty ||
          basicData.controls['colorCtrl'].touched)
      "
    >
      {{ translationService.translate.get("colorError") | async }}
    </mat-error>

    <mat-error *ngIf="basicData.controls['colorCtrl'].hasError('pattern')">
      {{ translationService.translate.get("colorValidation") | async }}
    </mat-error>
  </mat-form-field>

  <div class="mt-2">
    <button mat-button matStepperPrevious>
      {{ translationService.translate.get("back") | async }}
    </button>
    <button mat-button matStepperNext (click)="onStepThreeNext()">
      {{ translationService.translate.get("next") | async }}
    </button>
  </div>
</form>
