<mat-stepper
  class="example-stepper"
  [orientation]="(stepperOrientation | async)!"
  (selectionChange)="onStepSelectionChange($event)"
>
  <mat-step
    [stepControl]="personal"
     [label]="translationService.translate.instant('personalData') "
    [errorMessage]="
      translationService.translate.instant('stepperError')
    "
  >
    <app-step-one
      [personal]="personal"
      (nextStepData)="onStepOneNext($event)"
    ></app-step-one>
  </mat-step>

  <mat-step
    [stepControl]="product"
    [label]="translationService.translate.instant('productAdvertised')"
    [errorMessage]="
      translationService.translate.instant('stepperError')
    "
  >
    <app-step-two
      [product]="product"
      (nextStepData)="onStepTwoNext($event)"
    ></app-step-two>
  </mat-step>

  <mat-step
    [stepControl]="basicData"
    [label]="translationService.translate.instant('vehicleData')"
    [errorMessage]="
      translationService.translate.instant('stepperError')
    "
  >
    <app-step-three
      [basicData]="basicData"
      [additionalData]="additionalData"
      (nextStepData)="onStepThreeNext($event)"
    ></app-step-three>
  </mat-step>

  <mat-step
    [stepControl]="additionalData"
    [label]="translationService.translate.instant('moreInformation')"
    [errorMessage]="
      translationService.translate.instant('stepperError')
    "
  >
    <app-step-four
      [additionalData]="additionalData"
      [basicData]="basicData"
      [personal]="personal"
      [product]="product"
      (formSubmitted)="onFormSubmitted($event)"
    ></app-step-four>
  </mat-step>
</mat-stepper>
