.card_title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}


.custom_card {
    max-width: calc(50% - 16px);
    max-height: 160px;
}

.custom_card img {
    max-width: 90%;
    max-height: 50%;
    object-fit: contain;
}

.custom_card_title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.price {
    color: var(--danger-color);
    font-size: 14px;
}

