<ng-container *ngIf="isLoading == true">
  <mat-spinner style="margin: 100px auto 0" [diameter]="30"></mat-spinner
></ng-container>

<ng-container *ngIf="isLoading == false">
  <div class="selectedCar row p-1">
    <p-breadcrumb
      styleClass="custom-breadcrumb"
      [model]="items"
      [home]="home"
    ></p-breadcrumb>
    <div class="left_container col-12 col-md-5 col-lg-3 row">
      <div class="col-12" style="width: 100%">
        <app-card-details [car]="car"></app-card-details>
      </div>

      <div class="col-12 mt-1">
        <app-recommendation-card></app-recommendation-card>
      </div>
    </div>

    <div class="col-12 col-md-7 col-lg-9 mt-1 row">
      <h1>{{ car?.car_make }} {{ car?.modelCtrl }}</h1>
      <h4>
        {{ getValue("bodyTypes", car?.bodyTypeCtrl) }}
      </h4>
      <section class="col-12 col-lg-6">
        <div class="mt-1 mb-1">
          <app-gallery [car]="car"></app-gallery>
          <p class="price mt-1">{{ formatNumber(car!.priceCtrl) }}</p>
        </div>
      </section>
      <section class="option_card col-12 col-lg-6 mb-1">
        <app-option-card></app-option-card>
      </section>

      <div class="tab_card col-12 col-xl-6">
        <app-tabs [car]="car"></app-tabs>
      </div>
    </div>
  </div>
</ng-container>
